<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Requests</title>
</head>
<body>
  <div class='request-container'>
    <h3>Requests I've made</h3>
    <ul>
      <% @requests_made.each do |request| %>
      <li class="request_made" id="request-<%=request.id %>">
        <%= request.status %><br>
        <%= request.requested_date %><br>
        <ul>
          <% request.space_info.each do |space| %>
          <li><%= space.name %></li>
          <li><%= space.description %></li>
          <li><%= space.price %></li>
          <% end %>
        </li>
      <li>
      Space 2
      <li>
      Space 1
      </li>
      <% end %>
    </ul>
  </div>
  <div class='received-container'>
    <h3>Requests I've received</h3>
    <ul>
      <% @requests_received.each do |request| %>
      <li class="request_made" id="request-<%=request.id %>">
        <%= request.status %><br>
        <%= request.requested_date %><br>
        <ul>
          <% request.space_info.each do |space| %>
          <li><%= space.name %></li>
          <li><%= space.description %></li>
          <li><%= space.price %></li>
          <% end %>
          <li>
      Space 1
      </li>
      <% end %>
    </ul>
  </div>
</body>
</html>
