<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book A Space</title>
</head>
<body>
<h1>Book A Space</h1>
  <div class="welcome_user"
  <% if @user %>
  <h3>Welcome, <%= @user.email %></h3>
  <form action="/sessions/destroy" method="post">
    <input class="sign_out" type="submit" value="Sign out" />
  </form>
  <% end %>
  </div>

<form action="/spaces/new" method="get">
  <input type="submit" name="list a space" class="list_a_space" value="List a Space"/>
</form>

<form action="/spaces/filter" method="get">
  <label for="available_from">Available from (DD/MM/YYYY)</label>
  <input type="date" name="available_from"/>
  <label for="available_to">Available to (DD/MM/YYYY)</label>
  <input type="date" name="available_to"/>
  <input type="submit" class="show_listings" value="Show listings"
</form>

<div>
  <ul class="indiv_space">
     <% @spaces.each do |space| %>
       <%= space.name %><br>
       <%= space.description %>
       Date available: <%= space.date_available_from %> until: <%= space.date_available_to %><br>
       <br>
     <% end %>
  </ul>
</div>
</body>
</html>
